@media screen and (max-width: 900px){
    #sobre-texto{
        max-width: 96%;
        color: rgb(185, 117, 44);
        margin: 30px 60px;
    }
}

@media screen and (max-width: 760px){
    main{
        background: url(../imagem/foto-backgraund.jpg) no-repeat;
    
    }

    h1{
        font-size: 90px
    }

    header{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2{
        padding-top: 0;
        margin: 0;
    }

    #sobre-texto{
        color: white;
        max-width: 100%;
        margin: 10px 5px 0 5px;
        font-size: 30px;
    }

    #contatos-texto{
        font-size: 35px;
        margin-bottom: 30px;
        max-width: 100%;
    }
}

@media screen and (max-width: 450px){
    h1{
        font-size: 45px;
    }

    li{
        font-size: 15px;
        padding: 5px;
    }

    h2{
        font-size: 15px;
    }

    #proximo{
        padding: 2px;
    }

    #sobre-texto{
        font-size: 24px;
    }

    #contatos-texto{
        font-size: 24px;
    }
}
